@charset "utf-8";
/* CSS Document */
body{
	background: url("../images/low_contrast_linen.png") top left repeat;
	font-family: Verdana, sans-serif;
}

::-moz-selection {
    background-color: #00ff00;
    color: #fff;
}

::selection {
    background-color: #00ff00;
    color: #fff;
}

#header{

}

#gfz-header{
	overflow:hidden;
	padding: 10px;
}
#menu{
	height: 50px;
	width: 100%;
	margin: auto;
background: #0dbf16; /* Old browsers */
background: -moz-linear-gradient(top,  #0dbf16 0%, #035c05 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0dbf16), color-stop(100%,#035c05)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #0dbf16 0%,#035c05 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #0dbf16 0%,#035c05 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #0dbf16 0%,#035c05 100%); /* IE10+ */
background: linear-gradient(to bottom,  #0dbf16 0%,#035c05 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0dbf16', endColorstr='#035c05',GradientType=0 ); /* IE6-9 */

	line-height: 50px;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;	
}

#menu-table td.menu-link{
	padding-left: 20px;
	padding-right: 20px;
	width: 200px;
	text-align:center;
	cursor: pointer;
	color: #C1C1C1;	
	font-size: 24px;
	font-weight: bold;
	line-height: 50px;	
}

.depth {
 text-shadow: 0.5px 0.5px #878787, -1px -1px #878787;
}

.menu-border{
	float:right;
	height: 50px;
}

#menu-table td:hover{	
	color: #fff;
}

#menu-table td.active{	
	color: #fff;
	text-decoration:underline;
}

#header-content{
	width: 1240px;
	margin:auto;	
}

#main-content{
	width: 1200px;
	margin:auto;
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
	padding: 20px;
	min-height: 800px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;	
}

#home-table td{
	padding: 30px;	
}

#home-table{
	width: 100%;
}

table td{
	vertical-align: top;
}

h2{
	color:#14931d;
	font-size: 36px;
}

.box-shadow {  
	-moz-box-shadow: 4px 4px 15px #444;
	-webkit-box-shadow: 4px 4px 15px #444;
	box-shadow: 4px 4px 15px #444;
}  

#header-left{
	float:left;
	padding-top: 30px;
}

#header-left #gfz-logo{
	width: 700px;
}

#header-right{
	float:right;
}

#header label{
	font-size: 22px;
	color: white;
}

#main-content label{
	font-size: 24px;
	color: #000;
}

input[type=checkbox]{
	font-size: 20px;
	color: #000;
}

input[type=text], input[type=password]{
	border-radius: 5px;	
	width: 250px;
	height: 30px;
	font-size: 20px;
	padding: 5px;	
	background: #dee3e8; /* Old browsers */
	background: -moz-linear-gradient(top,  #dee3e8 1%, #c6cace 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#dee3e8), color-stop(100%,#c6cace)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #dee3e8 1%,#c6cace 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #dee3e8 1%,#c6cace 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #dee3e8 1%,#c6cace 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #dee3e8 1%,#c6cace 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dee3e8', endColorstr='#c6cace',GradientType=0 ); /* IE6-9 */  
}

input[type=submit]{
	color:#fff;
	font-size: 22px;
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;
	border: 0px solid #fff;
	border-radius: 5px;
	background: #38d940; /* Old browsers */
	background: -moz-linear-gradient(top,  #38d940 0%, #035c05 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#38d940), color-stop(100%,#035c05)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #38d940 0%,#035c05 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #38d940 0%,#035c05 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #38d940 0%,#035c05 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #38d940 0%,#035c05 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38d940', endColorstr='#035c05',GradientType=0 ); /* IE6-9 */	
	cursor: pointer;
}

input[type=submit]:hover{
	background: #079e04; /* Old browsers */
	background: -moz-linear-gradient(top,  #079e04 0%, #004f0b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#079e04), color-stop(100%,#004f0b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #079e04 0%,#004f0b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #079e04 0%,#004f0b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #079e04 0%,#004f0b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #079e04 0%,#004f0b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#079e04', endColorstr='#004f0b',GradientType=0 ); /* IE6-9 */
	color: #c1c1c1;
}

#login-submit{
	float:right;
}

#gfz-menu td{
	color: #fff;
	font-size: 22px;
	padding: 8px;
	cursor: pointer;
}

#gfz-menu td:hover{
	text-decoration: underline;
}

#footer {
padding-top: 20px;
width: 960px;
margin: auto;
font-size: 22px;
color: white;
text-align: center;
}

#signup-submit{
	margin:auto;
}

#signup-box{
	width: 660px;
	margin:auto;
	border-radius: 8px;
}

#signup-header{
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;		
	background: #0dbf16; /* Old browsers */
	background: -moz-linear-gradient(top,  #0dbf16 0%, #035c05 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0dbf16), color-stop(100%,#035c05)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #0dbf16 0%,#035c05 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #0dbf16 0%,#035c05 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #0dbf16 0%,#035c05 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #0dbf16 0%,#035c05 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0dbf16', endColorstr='#035c05',GradientType=0 ); /* IE6-9 */	
	height: 50px;
	text-align: center;
	font-size: 36px;
	line-height: 50px;
	font-weight: bold;
	color: #fff;
}

#signup-content{
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;		
	background-color: #f3C4c4;
	padding: 15px;
	background-color: #fff;
}

#signup-table td{
	padding: 5px;
	width: 100%;
}

#signup-submit-container{
	width: 160px; margin:auto; margin-top: 10px;
}